<div id="<%= dom_id parking_location %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Street:</strong>
    <%= parking_location.street %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= parking_location.status %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this parking location", parking_location, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this parking location", edit_parking_location_path(parking_location), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
