<div id="<%= dom_id ultrasonic_reading %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Parking spot:</strong>
    <%= ultrasonic_reading.parking_spot_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Reading:</strong>
    <%= ultrasonic_reading.reading %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this ultrasonic reading", ultrasonic_reading, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this ultrasonic reading", edit_ultrasonic_reading_path(ultrasonic_reading), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
