<div id="<%= dom_id parking_spot %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Parking location:</strong>
    <%= parking_spot.parking_location_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= parking_spot.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= parking_spot.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Max distance:</strong>
    <%= parking_spot.max_distance %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this parking spot", parking_spot, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this parking spot", edit_parking_spot_path(parking_spot), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
